body {
  padding: 0;
  margin: 0;
  background-image: url("../img/tenor.gif");
  width: 100%;
  overflow: hidden;
}

.rocket {
  position: absolute;
  width: 160px;
  height: 150px;
  z-index: 2;
  /*border: solid 1px white;*/
  /*box-shadow: 0px 0px 20px;*/
  background: url('../img/frame-01.gif');
  background-size: 120%;
  margin: 0;
}

#star_image {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  z-index: 0;
  display:

}

.asteroid {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  /*border: solid 1px white;*/
  background: url('../img/Asteroide.gif');
  /*border: solid 1px white;*/
}

#hide {
  position: absolute;
  top: 700px;
  width: 100%;
  height: 200px;
  z-index: 2;
}

.shot {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: red;
  border: solid 1px red;
  box-shadow: 0px 0px 100px darkred;
  z-index: 1;
}

.score {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  top: 1100px;
  left: 100px;
  z-index: 4;
  width: 100px;
}

.score_value {}

.time {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  top: 1100px;
  left: 360px;
  z-index: 2;
  width: 100px;

}

.lose {
  color: white;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  font-size: 120px;
  text-align: center;
  background-color: black;
  z-index: 3;
  margin: 0;
  padding: 0;
}

.win {
  color: white;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  font-size: 120px;
  text-align: center;
  background-color: black;
  z-index: 3;
  margin: 0;
  padding: 0;
}
.scoreWin {
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  top: 1100px;
  left: 1600px;
  z-index: 2;
  width: 600px;
}


/*
#start {
  position: absolute;
  left: 750px;
  top: 740px;
  width: 200px;
  height: 50px;
  background-color: white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  border: solid 2px black;
  box-shadow: 0px 0px 20px white;
}*/
